<%- include('./layouts/admin_layout/header.ejs') %>
    <%- include('./layouts/admin_layout/sidebar.ejs') %>

        <body class="skin-blue">
            <div class="wrapper">
                <div class="content-wrapper" style="min-height: 1283px;">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1>
                            Admin Dashboard > Users
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">Dashboard</li>
                        </ol>
                    </section>

                    <!-- Main content -->
                    <section class="content">
                        <%- include('./layouts/admin_layout/content-head.ejs') %>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="box">
                                        <div class="box-header">
                                        </div><!-- /.box-header -->
                                        <div class="box-body ">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item active">
                                                    <a href="#all-users" class="nav-link" data-toggle="tab">All
                                                        Users</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#owing-users" class="nav-link" data-toggle="tab">Owing
                                                        Users</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="#non-owing-users" class="nav-link"
                                                        data-toggle="tab">Non-Owing
                                                        Users</a>
                                                </li>
                                            </ul>

                                            <!-- Tab Panes -->
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="all-users">
                                                    <table id="myTable"
                                                        class="table table-bordered table-striped responsive table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">S/N</th>
                                                                <th class="text-center">Name</th>
                                                                <th class="text-center">Email</th>
                                                                <th class="text-center">Date Registered</th>
                                                                <th class="text-center">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <% var i=1; %>
                                                                <% users.forEach(user=> { %>

                                                                    <tr>
                                                                        <td>
                                                                            <%= i++; %>.
                                                                        </td>
                                                                        <td>
                                                                            <%= user.name %>
                                                                        </td>
                                                                        <td>
                                                                            <%= user.email %>
                                                                        </td>
                                                                        <td>
                                                                            <%= user.createdAt.toDateString(); %>
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <div class="btn-group">
                                                                                <a class="btn btn-info"><i
                                                                                        class="fa fa-eye"></i>
                                                                                </a>
                                                                                <a class="btn btn-danger"><i
                                                                                        class="fa fa-trash"></i></a>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <% }) %>
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <th class="text-center">S/N</th>
                                                                <th class="text-center">Name</th>
                                                                <th class="text-center">Email</th>
                                                                <th class="text-center">Date Registered</th>
                                                                <th class="text-center">Action</th>
                                                            </tr>
                                                        </tfoot>

                                                    </table>

                                                </div>
                                                <div class="tab-pane container fade" id="owing-users">Owing Users</div>
                                                <div class="tab-pane container fade" id="non-owing-users">Non-Owing
                                                    Users
                                                </div>
                                            </div>



                                        </div>

                                    </div><!-- /.box-body -->
                                </div>
                            </div>

                    </section><!-- /.content -->
                </div>

                <%- include('./layouts/admin_layout/footer.ejs') %>
        </body>

        </html>